body {
  text-align: center;
  background-color: #011F3F;
  #level-title {
    font-family: 'Press Start 2P', cursive;
    font-size: 3rem;
    margin:  5%;
    color: #FEF2BF;
  }
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    font-family: 'Press Start 2P', cursive;
    font-size: 1rem;
    color: #FEF2BF;
    line-height: 1.5;
    @media only screen and (max-width: 1439px) {
      flex-direction: column;
    }
    .column-small {
      padding: 0 3%;
      width: 300px;
      @media only screen and (max-width: 1439px) {
       width: 600px;
      }
      .title {
        font-size: 2rem;
        margin-bottom: 10%;
      }
      .highscore {
        font-size: 2rem;
      }
    }
    .column-large {
      width: 600px;
      .row {
        display: flex;
        align-items: center;
        justify-content: center;
        .btn {
          margin: 25px;
          display: inline-block;
          height: 200px;
          width: 200px;
          border: 10px solid black;
          border-radius: 20%;
          cursor: pointer;
        }
        .red {
          background-color: red;
        }

        .green {
          background-color: green;
        }

        .blue {
          background-color: blue;
        }

        .yellow {
          background-color: yellow;
        }
      } 
    }  
  }
}


.game-over {
  background-color: red;
  opacity: 0.8;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}